# Listas

Son contenedores que permiten almacenar una colección de objetos en orden determinado. Se pueden acceder, añadir o eliminar objetos de forma sencila

In [1]:
L1= []  #Lista vacía

In [2]:
L2 = ['a', 'e', 'i', 'o', 'u'] #Lista de vocales

In [3]:
L3 = [2,3,5,7,11] #Lista con valores enteros

In [4]:
L4 = ['a', 5, True, "Juan Gabriel"] #Lista heteregénea

In [5]:
L4

['a', 5, True, 'Juan Gabriel']

In [6]:
L5 =[0]*10

In [7]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [8]:
L4[0] #Las listas empiezan  en 0

'a'

In [9]:
L5[4] = 3.1416 #Modificación de valores

In [10]:
L5

[0, 0, 0, 0, 3.1416, 0, 0, 0, 0, 0]

In [11]:
L4[0:2]  # Comienza incluye el primero y excluye el último

['a', 5]

In [12]:
L5[1:4] = [1,2,3]

In [13]:
L5

[0, 1, 2, 3, 3.1416, 0, 0, 0, 0, 0]

In [14]:
L5.append(8) # añadir elemento

In [15]:
L5

[0, 1, 2, 3, 3.1416, 0, 0, 0, 0, 0, 8]

In [16]:
L5.remove(3) # elimina un elemento

In [17]:
L5

[0, 1, 2, 3.1416, 0, 0, 0, 0, 0, 8]

In [18]:
L5.reverse()

In [19]:
L5

[8, 0, 0, 0, 0, 0, 3.1416, 2, 1, 0]

In [20]:
L5.count(0)

6

In [21]:
L5.index(2)

7

In [22]:
len(L5)

10

In [23]:
L = [1,2,3,4,5,6]

In [24]:
L[1::2] # De uno en adelante de 2 en 2. Sacar pares

[2, 4, 6]

In [25]:
L[::2]  #del 0 en adelante. Sacar impares

[1, 3, 5]

In [26]:
L[-1] # el último elemento

6

In [27]:
8 in L #pregunta si 8 está dentro de L

False

# Bucles

**for**: iteran sombre una colección (lista, string, objeto iterable)

In [28]:
for numero in L:
    print(numero)

1
2
3
4
5
6

In [29]:
numero #el número se quedo con el valor 6

6

In [30]:
for x in range(0,10): # range(10) = range(0,10)
    print(x)

0
1
2
3
4
5
6
7
8
9

In [31]:
for c in "Juan Gabriel":
    print(c)

J
u
a
n

G
a
b
r
i
e
l

In [32]:
notas = [3.5, 6.7, 8, 9 , 4.5]
suma = 0
for nota in notas:
    suma = suma + nota
print(suma/len(notas))

6.34

**while**: se repite hasta que la condición boolean deja de ser cierta

In [33]:
count = 0
while count < 10:
    print(count)
    count +=1

0
1
2
3
4
5
6
7
8
9

In [34]:
primos = [2,3,5,7,11,13,17,19,23,29]
for idx, p in enumerate(primos):
    print(idx, p)

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

In [35]:
for idx in range(len(primos)):
    print(idx, primos[idx])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29

## Criba Eratóstenes

In [36]:
E =[]

In [37]:
for i in range(2,21):
    E.append(i)

In [38]:
E

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [39]:
for i in E:    
    if (i%2==0) and i!=2:
        E.remove(i)
    elif i**2 <len(E):
        for j in E:
            if (j%i==0) and j!=i:
                E.remove(j)

In [40]:
E

[2, 3, 5, 7, 11, 13, 17, 19]

## Tuplas

**Tupla**: coleccion de objetos que no puede modificarse (tiene tamaño y contenido fijo)

In [41]:
p1 =(1,)

In [42]:
p1

(1,)

In [43]:
p2 = (1,2,3,4)

In [44]:
p2

(1, 2, 3, 4)

In [45]:
p3 = (1,2,'c', 3.1416)

In [46]:
p3

(1, 2, 'c', 3.1416)

In [47]:
p3[0]

1

In [48]:
p3[0:2]

(1, 2)

In [49]:
a,b,c,d = p3

In [50]:
a

1

In [51]:
b

2

In [52]:
l3 = list(p3) #crear una lista a partir de una tupla

In [53]:
l3

[1, 2, 'c', 3.1416]

In [54]:
p5 = tuple(L5)
p5

(8, 0, 0, 0, 0, 0, 3.1416, 2, 1, 0)

In [55]:
"Hola que tal estás".split(" ")

['Hola', 'que', 'tal', 'estás']

In [56]:
"4,6,2,7,9,4,2".split(",")

['4', '6', '2', '7', '9', '4', '2']

In [65]:
numeros = input("Escribe numeros separados por comas ")
numerosL= numeros.split(",")

Escribe numeros separados por comas 4,456,2,5,6,2,32,5,23,0

In [66]:
numerosL

['4', '456', '2', '5', '6', '2', '32', '5', '23', '0']

In [70]:
numero_list = []
for i in numerosL:
    numero_list.append(int(i))
numero_list

[4, 456, 2, 5, 6, 2, 32, 5, 23, 0]

In [71]:
numero_tuple = (numero_list)
numero_list

[4, 456, 2, 5, 6, 2, 32, 5, 23, 0]

In [78]:
tupla_numeros= tuple(numero_list)

In [79]:
tupla_numeros

(4, 456, 2, 5, 6, 2, 32, 5, 23, 0)

In [80]:
suma = 0
for n in tupla_numeros:
    suma +=n
    
print(suma/len(tupla_numeros))

53.5

## Diccionario
Coleción no ordenada de pares de valores: claves <-> valores. Se indexa no por posición, si no utilizando las claves

* **%s**: para sustituir por un string
* **%d**: para sustituir por un integer
* **%f**: para sustituir por un numero decimal
* **%.nf**: para sustituir por un número decimal donde **n** es el número de decimales deseados

In [83]:
nombre = input("Introduce tu nombre")
print("Hola %s"%nombre)

Introduce tu nombreJuan
Hola Juan

In [84]:
print("Hola estos son los números primos %s"%primos)

Hola estos son los números primos [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [85]:
print("Esto es un numero entero %d"%suma)

Esto es un numero entero 535

In [89]:
media = suma/len(tupla_numeros)
print("Esto es un número decimal %.2f"%media)

Esto es un número decimal 53.50

In [92]:
edad = {
    "Juan Gabriel":30, 
    "María":20, 
    "Ricardo":53,
    "Antonio":45
}

In [93]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 53, 'Antonio': 45}

In [94]:
edad["Ricardo"]

53

In [95]:
edad["Ricardo"]= 52

In [96]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52, 'Antonio': 45}

In [97]:
edad.keys() # Ver todas las claves

dict_keys(['Juan Gabriel', 'María', 'Ricardo', 'Antonio'])

In [99]:
edad.values() # Conocer los valores

dict_values([30, 20, 52, 45])

In [100]:
len(edad) # longitud de diccionarios

4

In [101]:
"Pepe" in edad

False

In [102]:
"María" in edad

True

In [103]:
"Mario" not in edad

True

In [104]:
del edad["Antonio"] # Borra la edad de Antonio

In [105]:
edad

{'Juan Gabriel': 30, 'María': 20, 'Ricardo': 52}

In [106]:
notas = {"Al1":5.6, "Al2":7.5, "Al3":10, "Al4":False}
notas

{'Al1': 5.6, 'Al2': 7.5, 'Al3': 10, 'Al4': False}